.contact1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact1-text10 {
  display: inline-block;
}
 
.contact1-text11 {
  display: inline-block;
}
 
.contact1-text12 {
  display: inline-block;
}
 
.contact1-text13 {
  display: inline-block;
}
 
.contact1-text14 {
  display: inline-block;
}
 
.contact1-text15 {
  display: inline-block;
}
 
.contact1-text16 {
  display: inline-block;
}
 
.contact1-text17 {
  display: inline-block;
}
 
.contact1-text18 {
  display: inline-block;
}
 
.contact1-text21 {
  display: inline-block;
}
 
.contact1-text22 {
  display: inline-block;
}
 
.contact1-text23 {
  display: inline-block;
}
 
.contact1-text24 {
  display: inline-block;
}
 
.contact1-text25 {
  display: inline-block;
}
 
.contact1-text26 {
  display: inline-block;
}
 
.contact1-text27 {
  display: inline-block;
}
 
.contact1-text28 {
  display: inline-block;
}
 
.contact1-text29 {
  display: inline-block;
}
 
.contact1-text30 {
  display: inline-block;
}
 
.contact1-text31 {
  display: inline-block;
}
 
.contact1-text32 {
  display: inline-block;
}
 
.contact1-text33 {
  display: inline-block;
}
 
.contact1-text34 {
  display: inline-block;
}
 
.contact1-text35 {
  display: inline-block;
}
 
.contact1-text36 {
  display: inline-block;
}
 
.contact1-text37 {
  display: inline-block;
}
 
.contact1-text38 {
  display: inline-block;
}
 
.contact1-text39 {
  display: inline-block;
}
 
.contact1-text40 {
  display: inline-block;
}
 
.contact1-text41 {
  display: inline-block;
}
 
.contact1-text42 {
  display: inline-block;
}
 
.contact1-text43 {
  display: inline-block;
}
 
.contact1-text44 {
  display: inline-block;
}
 
.contact1-text45 {
  display: inline-block;
}
 
.contact1-text46 {
  display: inline-block;
}
 
.contact1-text47 {
  display: inline-block;
}
 
.contact1-text48 {
  display: inline-block;
}
 
.contact1-text49 {
  display: inline-block;
}
 
.contact1-text50 {
  display: inline-block;
}
 
.contact1-text51 {
  display: inline-block;
}
 
.contact1-text52 {
  display: inline-block;
}
 
.contact1-text53 {
  display: inline-block;
}
 
.contact1-text54 {
  display: inline-block;
}
 
.contact1-text55 {
  display: inline-block;
}
 
.contact1-text56 {
  display: inline-block;
}
 
.contact1-text57 {
  display: inline-block;
}
